.user-list {
  display: flex;
  flex-wrap: wrap;
}

/* .user-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.user-card_container {
  border: 1px solid #ddd;
  border-radius: 5%;
  width: 300px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  max-width: 300px;
  font-family: sans-serif;
  font-size: 18px;
}

h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
}

p {
  font-size: 14px;
  margin: 0 0 10px 0;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.user-card_container:hover {
    
  transition: all 0.2s ease-in-out;

  transform: scale(1.05);

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}